textarea{
    border: 1px solid white;
    width: 80%;
    height: 20vh;
    display: block;
    margin: auto;

    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
    border-radius: 2rem;
    padding: 4rem 0rem;
    
}
body{
    max-width: auto;
    background-image: url("/images/ROMAN.jpg");
}
#output
{ margin: auto;
   border: 1px solid white;
   width: 80%;
    height: 20vh;
    color: white;
    
    padding: 3rem 4rem;
    padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 2rem;
    text-align: center;
    
}


.navigation{
  
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius:1rem ;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font:bolder;
    text-align: center;

}
  .img{
    width: 300px;
    height: 300px;
    display: block;
    float: inline-start;
    align:center;
    margin-left: auto;  
margin-right: auto; 
  }
    

  
  .button {
   background-color:white ;
   padding:2rem;
   text-align: center;
   text-align: right;
  
    }
    #btn-translate{
        text-align: right;
       padding: 2rem 4rem;
       border-bottom-left-radius: 4rem;
       border-top-right-radius:4rem ;
       
    }

  .div{
      text-align: center;
      
  }

.footer{
    background-color: white;
    padding: 4rem 0rem;
    text-align: center;
    color: white;
    border-bottom-left-radius: 1rem;
    border-top-right-radius:1rem ;
    margin: auto;
    padding: auto; 
}
.footer .link{
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
    color: black;
    
}
.footer .links{
    color: black;
    text-decoration: none;
    
}
.footer ul{
    padding-inline-start: 0px;
}