textarea{
    border: 1px solid ;
    width: 50%;
    display: block;
    margin: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
    border-radius: 2rem;
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
body{
    width: 100%;
    position: relative;
    background-image: url("/images/ROMAN.jpg");
    text-align: center;
    font-family: 'Zilla Slab', serif;
}
#output
{ margin: auto;
   border: 1px solid white;
   width: 50%;
   color: white;
   padding: 2rem 2rem;
   padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 2rem;
    text-align: center;
    
}


.navigation{
  
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius:1rem ;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font:bolder;
    text-align: center;
     background-color: white;
     color: black;
     padding: 2rem;
     margin-top: 0rem
}
  .img{
    width: 300px;
    height: 300px;
    display: block;
    float: inline-start;
    margin-left: auto;  
    margin-right: auto; 
  }
  
  
    #btn-translate{
        text-align: right;
       padding: 1rem 1rem;
       margin-top: 0.5rem;
       margin-bottom: 1rem;
       border-radius: 2rem;
       
    }

  .div{
      text-align: center;    
  }

